.home-body {
  margin: 0 auto;
  max-width: 1850px;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  border: 5px solid $color-header-background;
}

.home-body__city {
  margin: 20px 0;
  border: 5px solid white;
  border-radius: 10%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  font-size: 24px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  &:hover {
    border: 5px solid $color-header-hover;
  }
}

.elk {
  background-image: url("../../assets/unit2.jpg");
  background-size: cover;
  background-position: center;
}

.wysokie {
  background-image: url("../../assets/zdjecie_2.jpg");
  background-size: 100%;
  background-position: center;
}

.lomza {
  background-image: url("../../assets/lomza.jpg");
  background-size: 100%;
  background-position: center;
}