.home-header {
  max-width: 1850px;
  height: 217px;
  margin: 0 auto;
  background-color: $color-header-background;
  color: $color-header-text;
  display: flex;
  justify-content: space-between;
}

.home-header__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 50px 0 50px;
}

.home-header__logo {
  height: 181px;
}

.home-header__nav {
  justify-content: space-between;
}

.home-header__language {
  display: flex;
  font-size: $language-size;
  margin-top: 100px;
  margin-left: 175px;
}

.header-button__hover:hover {
  color: $color-header-hover;
}

.button-active {
  color: $color-header-active;
}

.header-nav {
  display: flex;
  margin-bottom: 20px;
  width: 450px;
  justify-content: space-evenly;
  font-size: $nav-size;
}